@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.flag {
  width: 50%;
  height: 20%;
  align-self: center;
}

.content-country {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 8%;
  position: relative;
  color: #fff;
}

.population {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  align-self: flex-end;
}

.country-typo {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.country-name {
  font-family: 'Gill Sans', sans-serif;
  font-size: 1.3em;
  font-weight: 800;
  text-align: justify;
}

.country-container {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 10px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style-type: none;
}

li {
  display: flex;
  justify-content: space-between;
  background-color: #9bbdfc;
  padding: 2%;
  border-radius: 8px;
}

.image-info {
  align-self: center;
}

h2 {
  font-family: 'Gill Sans', sans-serif;
  font-size: 2em;
  align-self: flex-start;
  background-color: #9bbdfc;
  padding: 1%;
  border-radius: 5px;
}

.title {
  font-family: 'Gill Sans', sans-serif;
  font-size: 1.3em;
  font-weight: 500;
}

.description {
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
}

.language {
  display: flex;
  gap: 5px;
}

a {
  text-decoration: none;
}

.arrow-back {
  font-size: 2em;
  background-color: white;
  border-radius: 100%;
  margin-left: 2%;
}

.arrow-back:hover {
  background-color: #3af70b;
  color: #fff;
}

.lang {
  color: #fff;
  background-color: #125302;
  border-radius: 5px;
}
