.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2%;
}

.country-card {
  border: 1px solid #3e61a3;
  background-color: #4167af;
}

.country-card:nth-child(4n+2),
.country-card:nth-child(4n+3) {
  background-color: #3e61a3;
}

.country-card:hover {
  background-color: #022c70;
  color: #fff;
}

.search-Region {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  margin: auto;
  border-radius: 5px;
}

.input-field {
  display: block;
  width: 80%;
  padding: 1%;
  border-style: none;
  outline: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.btn {
  padding: 1%;
  border-style: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fff;
}

.input-field:focus,
.btn:focus {
  outline: black 1px solid;
}

.arrow-right {
  border: 1px solid #fff;
  border-radius: 100%;
  color: #fff;
  float: right;
  margin: 1%;
}
