* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #4369b2;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2%;
}

h1 {
  font-family: 'Gill Sans', sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}

.icons {
  color: white;
  font-size: 1.3em;
}

.icon {
  display: flex;
  gap: 15px;
  align-items: center;
}
